<h4>Add interview</h4>
    
<form id="add interview form" action="/student/addinterview" method="POST">

    <div >
        <label for="name">Name</label>
        <select name="id" id="name">
          <option selected disabled>Select Student</option>
  
          <%for(let student of students){%>
          <option value="<%=student.id%>"><%= student.name %></option>
          <%}%>
        </select></select>
        </div>

        <div>
            <label for="company" >Company</label>
            <input
              type="text"
              id="company"
              name="company"
            />
          </div>
    
          <div>
            <label for="date">Date</label>
            <input
              type="date"
              id="date"
              name="date"
            />
          </div>
    
              <button>
                Schedule Interview
              </button>
        </form>